:root {
  --sp-margin-l_r: 8.5rem;
  --sp-margin-h_a: 7rem;
}
html {
  font-family: var(--ff-primary);
}
.body-nav-div {
  width: 100%;
  display: flex;
  justify-content: center;
  top: 0;
  background: rgba(255, 255, 255, 0.674);
}
.main-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  flex-direction: column;
}
[data-id="buyNow"] {
  color: #0000ff !important;
}
#firstSiteHeader {
  font-family: var(--ff-primary);
  font-size: 6rem;
  margin-top: 5rem;
  font-weight: 600;
}
.first-img {
  width: 100%;
}

/* FIRST SEGMENT */
.FlexContainer {
  width: 100%;
  height: 100vh;
  background: rgb(241, 241, 93);
  display: flex;
  flex-direction: column;
}
.textContainer {
  margin: var(--sp-margin-h_a) var(--sp-margin-l_r);
  font-family: var(--ff-primary);
}
.textContainer a {
  color: #0000ff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
}
.textContainer p {
  font-size: 0.8rem;
  margin-top: 2rem;
}

.gridContainer {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 2.8fr 2.8fr;
  margin: 0 var(--sp-margin-l_r);
  justify-content: stretch;
}
.gridBox {
  background-size: cover;
  width: 100%;
}
.gridBox a {
  text-decoration: none;
  color: white;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 600;
  width: 100%;
  height: 100%;
  text-align: center;
}
.boxHeader {
  grid-column-start: -1;
  grid-column-end: 1;
}
.boxHeader {
  font-weight: 600;
}
.gridPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SECOND SEGMENT */
.secondSegment {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: var(--sp-margin-h_a) 0 0 0;
}
#boxHeaderSecondSeg h1 {
  font-size: 6rem;
  justify-self: flex-start;
  margin: var(--sp-margin-h_a) var(--sp-margin-l_r);
}
.video {
  width: calc(100% - 2 * var(--sp-margin-l_r));
  height: 48rem;
  margin: 0 var(--sp-margin-l_r);
}
.video iframe {
  width: 100%;
  height: 100%;
}
.textDivSecondSeg {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 9rem;
  margin: 0 var(--sp-margin-l_r);
}
.textDivPartSecondSeg {
  margin: var(--sp-margin-h_a) 0;
}
.textDivPartSecondSeg p {
  font-weight: 300;
  font-size: 1.2rem;
}
.textDivPartSecondSeg h1 {
  font-size: 1.8;
  font-weight: 700;
  letter-spacing: 2px;
}

/* THIRD SEGMENT */
